:root { /* CSS Variables: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#:~:text=Note%20that%20the%20selector%20given%20to%20the%20ruleset%20defines%20the%20scope%20that%20the%20custom%20property%20can%20be%20used%20in.%20A%20common%20best%20practice%20is%20to%20define%20custom%20properties%20on%20the%20%3Aroot%20pseudo%2Dclass%2C%20so%20that%20it%20can%20be%20applied%20globally%20across%20your%20HTML%20document%3A  */
  --shiekah-blue: #00c1d5;
  --dark-grey: #242424;
  --light-grey: #dadcda;
  --primary-font: Arial, sans-serif;
  /* debugging tools  */
  --db-red: 1px solid red;
  --db-green: 5px solid green;
  --db-yellow: 1px solid yellow;
}

*::before, /* Remove default padding and margin that comes before and after elements: https://stackoverflow.com/questions/58981682/whats-the-purpose-of-these-css-rules#:~:text=This%20snippet%20has%20a%20few%20purposes%2C%20mostly%20just%20overriding/resetting%20some%20default%20styling.%20The%20*%20selector%20applies%20these%20values%20to%20every%20element%20on%20the%20page%2C%20and%20the%20%3A%3Abefore/%3A%3Aafter%20make%20sure%20it%20also%20applies%20to%20any%20pseudo%2Delements.  */
*::after,
* {
  padding: 0;
  margin: 0;
}

* { 
  box-sizing: border-box;
  font-family: var(--primary-font); /* Use a CSS variable: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#:~:text=As%20mentioned%20earlier%2C%20you%20use%20the%20custom%20property%20value%20by%20specifying%20your%20custom%20property%20name%20inside%20the%20var()%20function%2C%20in%20place%20of%20a%20regular%20property%20value%3A  */
}

body,
html {
  background-color: grey;
  height: 100%; /* Set an initial value on the top-most element so that all other elements can size themselves based on this value  */
}

header {
  height: 60%;
  display: flex; /* Activate Flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/  */
  flex-direction: column;
  background-color: var(--dark-grey);
}

.modal-title {
  text-transform: capitalize;
}

.btn {
  background-color: var(--shiekah-blue);
  border: none;
}

.modal-locations {
  margin: 1em;
}

#search-bar-wrapper {
  display: grid;
  place-items: center;
  position: relative;
}

#search-bar-form{
  position: absolute;
  width: 40%;
  z-index: 10;
  display: flex;
}

#search-bar {
  padding: 1.3%;
  border-radius: .5em;
  flex-grow: 1;
  text-align: center;
  border: .5px solid black;
}

#search-submit {
  cursor: pointer;
  border: none;
  height: 100%;
  padding-right: 1%;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  right: 0;
}

#search-submit > img {
  height: 100%;
}

#hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0)),
    url("./assets/horseback-link-forest.jpg");
  filter: saturate(30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
  flex-grow: 1;
}

#sheikah-logo {
  max-width: 4%;
  margin: 1.5% 0 1.5% 1.5%; /* (shorthand) margin: top right bottom left  */
  cursor: pointer;
  min-width: 50px;
}

#nav-wrapper {
  height: 7em;
  width: 100%;
}

nav {
  background-color: var(--dark-grey);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  background-color: var(--dark-grey);
}
.nav-link {
  font-size:calc(12px + .5vw); /* https://stackoverflow.com/questions/23984629/how-to-set-min-font-size-in-css#:~:text=In%20CSS3%20there%20is%20a%20simple%20but%20brilliant%20hack%20for%20that%3A*/
  list-style: none;
  margin: 2%;
  color: var(--shiekah-blue);
  padding: 0.5%;
  cursor: pointer;
  display: grid;
  place-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#card-wrapper {
  margin: 1% 0 1% 0; /* (shorthand) margin: top right bottom left  */
  background-color: #fefefd;
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5em;
  padding: 1%;
}

.card-image {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
